<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portait" src="/img/watch.jpg">
        <p>Simple node.js application integrated with darksky.net and mapbox.com, <br />
            Uses the hbs template engine to render content <br />

        </p>
    </div>

    {{>footer}}
</body>

</html>